.env
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.mypy_cache
.pytest_cache

*.coverage
.coverage.*
htmlcov
coverage.xml
dist
build
.eggs
*.egg-info
*.egg
*.log
*.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.orig
*.idea

credentials.json

*.mp4
cookies.txt